h3{
    color: blue;
    background-color: yellow;
    text-align: center;
    margin: 1px;
    border:3px solid red;
    padding:1px;
    box-sizing: border-box;
    width: 15%;
    height:15%;
    font-size: 14px;
    

}
button:hover {
  background-color: blue;
  color: white;
}
button{
    font-size: 20px;
    background-color: rosybrown;
    border: 2px solid black;
    padding: 10px 20px; 
}
