div{
    background-color: thistle;
    margin:7p;
    padding:5px;
    border:2px solid purple;
    font-size:18px;

}
#bac{
    color: green;
    font-weight: bold;
    box-sizing:content-box;
    width: 200px;
    height: 100px;
    border-radius: 200px;
    text-align: center;
    box-sizing: content-box;
}
#abc{
    color: royalblue;
    font-style: italic;
    border-radius: 200px;
    width: 200px;
    height: 40px;
    margin: 20px;
    box-sizing: content-box;
    text-align: center;
    
}
